LOAD DATABASE
     FROM sqlite:///db.sqlite3
     INTO postgres://udgvc4ntteth0r:pbb0bd25b34e0f9fb3ecd3f4ba737635d0b576433d3067cd388bfb62b72b57554@c6sfjnr30ch74e.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/d1bshaf7on9o9t
     WITH
          sslmode 'require'
          sslrootcert './rds-global-bundle.pem'
;
