<!-- File: charts.html -->
<!-- Author: Nathaniel Clizbe clizbe@bu.edu 12/10/2024 -->
<!-- Template for Displaying Custom Charts -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project-styles.css' %}">
</head>
<body>
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
<body>
    <div class="container">
        
        <!-- Page Title -->
        <h1>Custom Charts</h1>

        <!-- Filter Form -->
       <form method="get" class="search-form">
    <div>
        {{ form.town_village.label_tag }} {{ form.town_village }}
    </div>
    <div>
        {{ form.school_level.label_tag }} {{ form.school_level }}
    </div>
    <div>
        {{ form.time_range.label_tag }} {{ form.time_range }}
    </div>
    <div>
        <label for="chart_type">Select Chart:</label>
        <select name="chart_type" id="chart_type">
            <option value="service_by_town" {% if selected_chart == "service_by_town" %}selected{% endif %}>Service Hours by School District</option>
            <option value="service_by_level" {% if selected_chart == "service_by_level" %}selected{% endif %}>Service Hours by School Level</option>
            <option value="clients_by_country" {% if selected_chart == "clients_by_country" %}selected{% endif %}>Clients by Country</option>
            <option value="parents_by_country" {% if selected_chart == "parents_by_country" %}selected{% endif %}>Parents by Country</option>
            <option value="sessions_by_subject" {% if selected_chart == "sessions_by_subject" %}selected{% endif %}>Tutoring Sessions by Subject</option>
            <option value="tutoring_sessions_by_district" {% if selected_chart == "tutoring_sessions_by_district" %}selected{% endif %}>Tutoring Sessions by District</option>
            <option value="advocacy_sessions_by_district" {% if selected_chart == "advocacy_sessions_by_district" %}selected{% endif %}>Advocacy Sessions by District</option>
            <option value="students_by_service_interval" {% if selected_chart == "students_by_service_interval" %}selected{% endif %}>Students By Service Hours Interval</option>
        </select>
    </div>
    <button type="submit">Filter</button>
</form>



        <!-- Displaying Charts -->
       <div class="chart-container">
    <div class="chart">
        {{ chart_html|safe }}
    </div>
</div>
    </div>
</body>
</html>
