<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Parents</title>
</head>
<body>
    <a href="{% url 'home' %}">Back to Home</a>
    <h1>Search Parents</h1>

    <!-- Search and Filter Form -->
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render the form fields as <p> elements -->

        <button type="submit">Search</button>
    </form>

    {% if request.GET.search_name or request.GET.town_village %}
        <h2>Results</h2>
        <ul>
            {% for parent in parents %}
            <a href="{% url 'parent_detail' parent.pk %}">
                <li>{{ parent.first_name }} {{ parent.last_name }}</li>
            {% empty %}
                <li>No parents found matching the search criteria.</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
