<!-- restaurant/templates/restaurant/order.html -->
{% extends 'restaurant/base.html' %} {% load static %} {% block content %}
<div>
  <h1>Order Your Meal</h1>
  <form method="post" action="{% url 'confirmation_page' %}">
    {% csrf_token %}

    <h2>Menu Items</h2>
    {% for item, price in menu_items.items %}
    <div>
      <label>
        <input type="checkbox" name="menu_items" value="{{ item }}" />
        {{ item }} - ${{ price|floatformat:2 }}
      </label>
    </div>
    {% endfor %}

    <div>
      <h3>
        Daily Special: {{ daily_special.name }} - ${{ daily_special.price}}
      </h3>
      <label>
        <input
          type="checkbox"
          name="menu_items"
          value="{{ daily_special.name }}"
        />
        Add Daily Special
      </label>
    </div>

    <h2>Special Instructions</h2>
    <textarea name="special_instructions" rows="3"></textarea>

    <h2>Customer Information</h2>
    <label for="name">Name:</label>
    <input type="text" name="name" required />

    <label for="phone">Phone:</label>
    <input type="text" name="phone" required />

    <label for="email">Email:</label>
    <input type="email" name="email" required />

    <button type="submit">Place Order</button>
  </form>
</div>
{% endblock %}
