<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}" />
  </head>

  <body>
    <header>
      <h1>Mini Facebook</h1>
      <nav>
        <ul>
          <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
          <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
          <!-- Add more links as needed -->
          {% if request.user.is_authenticated %} {% if profile %}
          <li>
            <a href="{% url 'show_profile' profile.pk %}">My Profile</a>
          </li>
          {% else %}
          <li>No profile available.</li>
          {% endif %}
          <li>
            <form
              action="{% url 'logout' %}"
              method="post"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>
        <pre>{{ request.user }}</pre>
      </nav>
    </header>

    <main>
      {% block content %}
      <!-- fill in this section with specific page detail -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; 2024 Mini Facebook. All rights reserved.</p>
    </footer>
  </body>
</html>
