{% extends 'mini_fb/base.html' %} {% block content %}
<h1>Create a New Status Message</h1>

<!-- Define the form with method POST and specify the action URL -->
<form method="POST" action="{% url 'create_status' profile.pk %}">
  {% csrf_token %}

  <!-- Simple way to display the form, all one line -->
  {{ form.message }}

  <!-- Each field on its own line -->
  <!-- {{ form.as_p }} -->

  <div>
    <button type="submit">Post Status</button>
  </div>
</form>

<!-- Add a cancel button that redirects back to the profile page -->
<form action="{% url 'show_profile' profile.pk %}">
  <input type="submit" value="Cancel" />
</form>

{% endblock %}
