<!-- news_feed.html -->
{% extends "mini_fb/base.html" %} {% block content %}
<h1>{{ profile.first_name }}'s News Feed</h1>

<div>
  {% for message in status_messages %}
  <div class="status-message">
    <img
      src="{{ message.profile.profile_image_url }}"
      alt="{{ message.profile.first_name }}'s image"
      width="50"
      height="50"
    />
    <strong
      >{{ message.profile.first_name }} {{ message.profile.last_name }}</strong
    >
    <p>{{ message.message }}</p>
    <small>Posted on {{ message.timestamp }}</small>
  </div>
  <hr />
  {% empty %}
  <p>No status messages found.</p>
  {% endfor %}
</div>

<a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
{% endblock %}
