<!-- mini_fb/templates/mini_fb/show_all.html -->
{% extends 'mini_fb/base.html' %} {% block content %}
<h1>Show all Profiles</h1>

<main class="grid-container">
  <!-- Loop to display each profile -->
  {% for a in profiles %}
  <article>
    <!-- Link the image to the user's profile page -->
    <a href="{% url 'show_profile' a.pk %}">
      <img src="{{a.image_file.url}}" alt="{{a.profile_image_url}}" />
    </a>

    <div>
      <!-- Link the name to the user's profile page -->
      <h2>
        <a href="{% url 'show_profile' a.pk %}">
          {{a.first_name}} {{a.last_name}}</a
        >, {{a.city}}
      </h2>
    </div>
  </article>
  {% endfor %}
</main>
{% endblock %}
