{% extends 'mini_fb/base.html' %} {% block content %}
<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>

<main class="grid-container">
  <article class="profile-details">
    <!-- Profile Image -->
    <img
      class="profile-image-large"
      src="{{ profile.profile_image_url }}"
      alt="Profile image of {{ profile.first_name }} {{ profile.last_name }}"
    />

    <div>
      <!-- Profile Details -->
      <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
      <h3>City: {{ profile.city }}</h3>
      <h3>
        Email:
        <a href="mailto:{{ profile.email_address }}"
          >{{ profile.email_address }}</a
        >
      </h3>
    </div>
    <!-- Link to update profile -->
    <div class="update-profile-link">
      <h3>
        <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
      </h3>
    </div>
    <!-- Link to Friend Suggestions -->
    <div class="friend-suggestions-link">
      <h3>
        <a href="{% url 'friend_suggestions' profile.pk %}"
          >View Friend Suggestions</a
        >
      </h3>
    </div>
    <!--Link to news feed-->
    <a href="{% url 'show_news_feed' profile.pk %}">View News Feed</a>
  </article>

  <!-- Link to create a new status message -->
  <div class="create-status-link">
    <h3>
      <a href="{% url 'create_status' profile.pk %}">Create a Status Message</a>
    </h3>
  </div>

  <!-- Display Status Messages -->
  <section class="status-messages">
    <h2>Status Messages</h2>
    {% if profile.get_status_messages %}
    <ul>
      {% for message in profile.get_status_messages %}
      <li>
        <strong>{{ message.timestamp|date:"F j, Y, g:i a" }}:</strong>
        {{ message.message }}
        <!--Delete link-->
        <a href="{% url 'delete_status_message' message.pk %}">Delete</a>
        <!--Update link-->
        <a href="{% url 'update_status' message.pk %}">Update</a>
        <!-- Display associated images if any -->
        {% if message.get_images %}
        <div class="status-images">
          {% for img in message.get_images %}
          <img
            src="{{ img.image_file.url }}"
            alt="Image for status message"
            class="status-image"
          />
          {% endfor %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No status messages available.</p>
    {% endif %}
  </section>
  <!--display all friend profiles-->
  <section class="friends-list">
    <h2>Friends</h2>
    {% if profile.get_friends %}
    <ul>
      {% for friend in profile.get_friends %}
      <li>
        <a href="{% url 'show_profile' friend.pk %}"
          >{{ friend.first_name }} {{ friend.last_name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>This profile has no friends yet.</p>
    {% endif %}
  </section>
</main>
{% endblock %}
