{% extends 'mini_fb/base.html' %} {% block content %}
<h1>Update Profile for {{ profile.first_name }} {{ profile.last_name }}</h1>

<form method="POST" action="">
  {% csrf_token %}

  <div>
    <label for="id_city">City:</label>
    {{ form.city }}
  </div>

  <div>
    <label for="id_email_address">Email Address:</label>
    {{ form.email_address }}
  </div>

  <div>
    <label for="id_profile_image_url">Profile Image URL:</label>
    {{ form.profile_image_url }}
  </div>

  <div>
    <button type="submit">Update Profile</button>
  </div>
</form>

<!-- Cancel button to go back to the profile page -->
<form action="{% url 'show_profile' profile.pk %}">
  <input type="submit" value="Cancel" />
</form>

{% endblock %}
