{% extends 'mini_fb/base.html' %} {% block content %}
<h1>Update Status Message</h1>

<!-- Form to update the status message -->
<form method="POST" action="{% url 'update_status' status_message.pk %}">
  {% csrf_token %}

  <div>
    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="4" cols="50">
{{ status_message.message }}</textarea
    >
  </div>

  <div>
    <button type="submit">Update Status</button>
  </div>
</form>

<!-- Form to cancel the update and return to the profile page -->
<form action="{% url 'show_profile' status_message.profile.pk %}">
  <input type="submit" value="Cancel" />
</form>

{% endblock %}
